<div class="greet-main" id="contact">
    <div class="greeting-main">
        <div class="cc-profile-image" style="text-align: center;">
            <a href="#">
                <img src="assets/images/contactMail.webp" alt="Contact Me" />
            </a>
        </div>
      <!-- <div class="greeting-image-div">
        <img src="../../assets/images/rishabh.jpg" alt="Rishabh posing in a Youtube studio">
      </div> -->
      <div class="greeting-text-div" style=" padding: 0 20px;">
        <div>
          <h1 class="greeting-text"  style="margin-bottom: 20px;">
            {{contactInfo.title}}<span class="wave-emoji">☎️</span>
          </h1>
          <p class="greeting-text-p subTitle" style="margin-top: 0px; margin-bottom: 10px;">{{contactInfo.subtitle}}</p>
          <p style="margin-left: -12px;">
            <app-social></app-social>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr style="height:2px;border-width:0;color:rgb(214, 213, 213);background-color:rgb(211, 209, 209)">
  