<div class="greet-main" id="about">
    <div class="greeting-main">
        <div class="cc-profile-image" style="padding-top: 50px;">
            <a href="#">
                <img src="assets/images/rishabh.jpg" alt="Image" />
            </a>
        </div>
      <!-- <div class="greeting-image-div">
        <img src="../../assets/images/rishabh.jpg" alt="Rishabh posing in a Youtube studio">
      </div> -->
      <div class="greeting-text-div">
        <div>
          <h1 class="greeting-text"  style="margin-bottom: 20px;">
            {{intro}}
            <span class="wave-emoji">👋</span>
          </h1>
          <p class="greeting-text-p subTitle" style="margin-top: 0px; margin-bottom: 10px;">{{subIntro}}</p>
          <app-social></app-social>

          <div class="button-greeting-div">
            <!-- button-->
            <div>
              <a class="main-button" href="#contact">{{getInTouch}}</a>
            </div>
            <div>
              <a class="main-button" href={{resumeLink}} target="_blank">{{viewResume}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  