<div>
    <header class="header" style="position: fixed;" wmAnimate="landing" aos speed="normal">
        <a href="" class="logo" style="margin-left: 65px;">
            <span class="grey-color"> &lt;</span>
            <span class="logo-name">{{title}}</span>
            <span class="grey-color">/&gt;</span>
        </a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn">
            <span class="navicon"></span>
        </label>
        <ul class="menu" style="margin-right: 65px;">
            <li><a href="#">{{about}}</a></li>
            <li><a href="#skills" style="pointer-events: none">{{skills}}</a></li>
            <li><a href="#timeline">{{timeline}}</a></li>
            <!-- <li><a href="#projects">{{projects}}</a></li> -->
            <!-- <li><a href="#education">{{education}}</a></li> -->
            <!-- <li><a href="#certifications">{{certifications}}</a></li>
            <li><a href="#accomplishments">{{accomplishments}}</a></li> -->
            <!-- <li><a href="#recommendations">{{recommendations}}</a></li> -->
            <!-- <li><a href="#volunteering">{{volunteering}}</a></li> -->
            <li><a href="#blog" style="pointer-events: none">{{blog}}</a></li>
            <li><a href="#contact">{{contact}}</a></li>
        </ul>
    </header>
</div>
