<div class="social-media-div">
    <a href={{github}} class="icon-button github" target="_blank">
      <i class="fab fa-github"></i>
      <span></span>
    </a>
      <a href={{linkedin}} class="icon-button linkedin" target="_blank">
        <i class="fab fa-linkedin-in"></i>
        <span></span>
      </a>
      <a href="{{'mailto:' + gmail}}" class="icon-button google" target="_blank">
        <i class="fab fa-google"></i>
        <span></span>
      </a>
      <a  class="icon-button youtube" target="_blank">
        <i class="fab fa-youtube"></i>
        <span></span>
      </a>
      <!-- <a href={{facebook}} class="icon-button facebook" target="_blank">
        <i class="fab fa-facebook-f"></i>
        <span></span>
      </a> -->
  </div>