<div id="timeline" style="margin: 50px;">
  <div class="prt_heading_wrapper">
    <div class="prt_heading">
      <h1 class="timeline-heading">{{timelineTitle}} 💻</h1>
    </div>
  </div>
  <div class="timeline">
    <div *ngFor="let i of timeline">
      <div [class] = i.className1>
        <div class="content">
          <div class="prt_about_learnbox_info">
            <h4>{{i.heading}} ({{i.duration}})</h4>
            <span>{{i.subtitle}}</span>
            <p>{{i.content}}</p>
          </div>
          <!-- <h2>{{i.heading}}</h2>
          <span>{{i.subtitle}}</span>
          <p>Lorem ipsum..</p> -->
        </div>
      </div>
    </div>
    

  </div>
</div>